<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro de Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="text" placeholder="Correo Electronico" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="password" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
          </mat-form-field>
          <mat-error *ngIf="form.hasError('notMatch_password')">
            * Las claves no coinciden.
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-radio-group formControlName="type" aria-label="Select an option">
            <mat-radio-button value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="text" placeholder="Nombre de la compania" formControlName="companyName">
          </mat-form-field>
          <mat-error *ngIf="companyNameField.hasError('required')">
            *Este campo es requerido.
          </mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row center-xs">
        <button mat-raised-button color="accent">Registrarse</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>