<form [formGroup]="form" (ngSubmit)="save($event)">
  <div>
    <input
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInValid"
      formControlName="name"
      type="text"
      name=""
    />
    <button [disabled]="form.get('name').invalid" (click)="getNameValue()">
      Obtener Valor
    </button>
    <p>Name: {{ form.get('name').value }}</p>
    <!-- <code>
     <pre> {{nameField | json}}</pre>
    </code> -->
    <div
      class="messages"
      [class.active]="isNameFieldInValid"
    >
      <p *ngIf="form.get('name').touched && form.get('name').hasError('required')">
        * Este campo es requerido.
      </p>
      <p *ngIf="form.get('name').touched && form.get('name').hasError('maxlength')">
        * Debe tener una longitud maxima de 10 caracteres.
      </p>
    </div>
  </div>

  <div>
    <input formControlName="number" type="number" name="" />
    <p>Numerico: {{ form.get('number').value }}</p>
  </div>

  <div>
    <input formControlName="tel" type="tel" name="" />
    <p>Telefono: {{ form.get('tel').value }}</p>
  </div>

  <div>
    <input formControlName="email" type="email" name="" />
    <p>Correo: {{ form.get('email').value }}</p>
  </div>

  <div>
    <input formControlName="color" type="color" name="" />
    <p>Color: {{ form.get('color').value }}</p>
  </div>

  <div>
    <input formControlName="date" type="date" name="" />
    <p>Fecha: {{ form.get('date').value }}</p>
  </div>
  <div>
    <input formControlName="age" type="week" name="" />
    <p>Semana: {{ form.get('age').value }}</p>
  </div>
  <div>
    <select formControlName="category" name="" id="">
      <option value="categoria-1">Categoria 1</option>
      <option value="categoria-2">Categoria 2</option>
      <option value="categoria-3">Categoria 3</option>
      <option value="categoria-4">Categoria 4</option>
      <option value="categoria-5">Categoria 5</option>
      <option value="categoria-6">Categoria 6</option>
    </select>
    <p>Categoria: {{ form.get('category').value }}</p>
  </div>
  <div>
    <select formControlName="tag" multiple size="4" name="" id="">
      <option value="tag-1">Etiqueta 1</option>
      <option value="tag-2">Etiqueta 2</option>
      <option value="tag-3">Etiqueta 3</option>
      <option value="tag-4">Etiqueta 4</option>
      <option value="tag-5">Etiqueta 5</option>
      <option value="tag-6">Etiqueta 6</option>
    </select>
    <p>Etiqueta: {{ form.get('tag').value }}</p>
  </div>
  <div>
    <label for="">
      Deacuerdo
      <input formControlName="agree" type="checkbox" />
    </label>
    <p>Deacuerdo: {{ form.get('agree').value }}</p>
  </div>
  <div>
    <label>
      <input
        name="gender"
        value="male"
        formControlName="gender"
        type="radio"
      />
      Masculino
    </label>
    <label>
      <input
        name="gender"
        value="female"
        formControlName="gender"
        type="radio"
      />
      Femenino
    </label>
    <label>
      <input
        name="gender"
        value="other"
        formControlName="gender"
        type="radio"
      />
      Otros
    </label>
    <p>Genero: {{ form.get('gender').value }}</p>
  </div>
  <div>
    <label>
      <input
        name="zone"
        value="zona-1"
        formControlName="zone"
        type="radio"
      />
      Zona 1
    </label>
    <label>
      <input
        name="zone"
        value="zona-2"
        formControlName="zone"
        type="radio"
      />
      Zona 2
    </label>
    <label>
      <input
        name="zone"
        value="zona-3"
        formControlName="zone"
        type="radio"
      />
      Zona 3
    </label>
    <p>Zona: {{ form.get('zone').value }}</p>
  </div>

  <button type="submit">Save</button>
</form>
